Options +FollowSymLinks -MultiViews

RewriteEngine On
RewriteBase /dokyhr/public/inc/api

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) routing.php [QSA,L]

RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]
